.modal-form {
  .error {
    border: 1px solid red;
  }

  .error:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  label {
    margin-bottom: 12px;
  }
  .col-6 {
    margin-bottom: 20px;
  }
}
